In [2]:
! pip install pymongo[srv]
!pip install flask_ngrok
!pip install flask flask-cors

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (3.12.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 7.4 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0
Collecting flask_ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (1.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (2.23.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask_ngrok) (2.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (1.24.3)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25
Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (1.1.4)
Collecting flask-cors
  Downloading Flask_Cors-3.0.10-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask) (7.1.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask) (2.0.1)
Requirement already satisfied: Six in /usr/local/lib/python3.7/dist-packages (from flask-cors) (1.15.0)
Installing collected packages: flask-cors
Successfully installed flask-cors-3.0.10

In [5]:
! gdown --id 1a1m-K1yffGzqZYhPf_qQjOxDzADcKAnL

Downloading...
From: https://drive.google.com/uc?id=1a1m-K1yffGzqZYhPf_qQjOxDzADcKAnL
To: /content/netflix_titles.csv
100% 3.40M/3.40M [00:00<00:00, 107MB/s]

In [6]:
import numpy as np 
import pandas as pd 
import plotly
import plotly.express as px
colors = ['#0F2C67', '#CD1818', '#F3950D', '#0B4619']

data = pd.read_csv('netflix_titles.csv')

data['month_added'] = data['date_added'].apply(lambda x: str(x).split(' ')[0])
data['day_added'] = data['date_added'].apply(lambda x: str(x).split(',')[0].split(' ')[-1])
data['year_added'] =  data['date_added'].apply(lambda x: str(x).split(' ')[-1])

data_clean = data.drop(['show_id','cast','description','listed_in'], axis = 1)

data_clean

         type                  title  ... day_added year_added
0       Movie   Dick Johnson Is Dead  ...        25       2021
1     TV Show          Blood & Water  ...        24       2021
2     TV Show              Ganglands  ...        24       2021
3     TV Show  Jailbirds New Orleans  ...        24       2021
4     TV Show           Kota Factory  ...        24       2021
...       ...                    ...  ...       ...        ...
8802    Movie                 Zodiac  ...        20       2019
8803  TV Show            Zombie Dumb  ...         1       2019
8804    Movie             Zombieland  ...         1       2019
8805    Movie                   Zoom  ...        11       2020
8806    Movie                 Zubaan  ...         2       2019

[8807 rows x 11 columns]

In [14]:
a=data_clean.groupby('type').count()['title']

list1 = dict()
list1['Movie'] = a['Movie']
list1['TV Show'] = a['TV Show']
list1

{'Movie': 6131, 'TV Show': 2676}

In [12]:
b=data_clean.groupby('rating').count()['type']
b

rating
66 min         1
74 min         1
84 min         1
G             41
NC-17          3
NR            80
PG           287
PG-13        490
R            799
TV-14       2160
TV-G         220
TV-MA       3207
TV-PG        863
TV-Y         307
TV-Y7        334
TV-Y7-FV       6
UR             3
Name: type, dtype: int64

In [6]:
movie_count = pd.DataFrame({'count': data_clean.groupby('type').get_group('Movie').groupby('release_year')['title'].count().sort_values(ascending=False)})
movie_count

              count
release_year
2018            767
2017            767
2016            658
2019            633
2020            517
...             ...
1961              1
1947              1
1946              1
1966              1
1963              1

[73 rows x 1 columns]

In [7]:
group = data.groupby(['type'])
months = pd.DataFrame({'moviecount':group.get_group('Movie').groupby('month_added').count()['title'], 
                      'tvshowcount':group.get_group('TV Show').groupby('month_added').count()['title']})
print(months)

           moviecount  tvshowcount
                  NaN           88
April           550.0          209
August          519.0          230
December        547.0          250
February        382.0          175
January         546.0          181
July            565.0          254
June            492.0          232
March           529.0          205
May             439.0          187
November        498.0          199
October         545.0          210
September       519.0          246
nan               NaN           10

In [113]:
from flask_ngrok import run_with_ngrok
from flask import Flask
from flask import request
from flask import jsonify
from pymongo import MongoClient
from flask_cors import CORS, cross_origin
import pandas as pd 
import json
from bson.json_util import ObjectId

class MyEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, ObjectId):
            return str(obj)
        return super(MyEncoder, self).default(obj)
app = Flask(__name__)
app.json_encoder = MyEncoder
CORS(app, support_credentials=True)
run_with_ngrok(app)

client = MongoClient("mongodb+srv://ployloyloy:659239@cluster0.zavjv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

df = pd.DataFrame(client.netflixData.data.find({}))
df = df.drop(columns=['_id'])
df['month_added'] = df['date_added'].apply(lambda x: str(x).split(' ')[0])
df['day_added'] = df['date_added'].apply(lambda x: str(x).split(',')[0].split(' ')[-1])
df['year_added'] =  df['date_added'].apply(lambda x: str(x).split(' ')[-1])

dataClean = df.drop(['show_id','cast','description','listed_in'], axis = 1).fillna('unknow')

@app.route('/')
def home():
  return '<h1>Hello from Flask</h1>'

@app.route('/upload')
def upload():
  df = pd.read_csv('netflix_titles.csv')
  client.netflixData.data.insert_many(df.to_dict('records'))
  return '<h3>File uploaded to mongoDB</h3>'

@app.route('/addFavour')
def insert():
  title = request.args.get('title')
  db = client.netflixData.data.find_one({'title':title})
  dt = client.favour.collection.find({'title':title}).count()
  text = ''
  if dt == 0:
    client.favour.collection.insert_one(db)
    text = 'added to favourite'
  else:
    text = 'Already added'
  return jsonify({'text': text})

@app.route('/deleteFavour')
def delete():
  title = request.args.get('title')
  client.favour.collection.delete_one({'title':title})
  return jsonify({'text': 'deleted favourote'})

@app.route('/myFavour')
def show():
  page = int(request.args.get('page'))
  db = client.favour.collection.find()
  res = dict()
  ret = dict()
  data = []
  ret['data']=[]
  for x in db:
    res['title'] = x['title']
    res['rating'] =x['rating']
    res['type'] =x['type']
    res['description']=x['description']
    data.append(res)
    res=dict()
  ret['data']=data[page:page+20]
  return jsonify(ret)

@app.route('/search')
def search():
  title = request.args.get('title')
  content = request.args.get('type')
  rating = request.args.get('rating')
  page = int(request.args.get('page'))
  fill={}
  if title != None and title.strip() != '' and title != 'undefined':
    fill['title'] = title
  if content != None and content.strip() != '' and content != 'undefined':
    fill['type'] = content
  if rating != None and rating.strip() != '' and rating != 'undefined':
    fill['rating'] = rating

  ret={}
  res={}
  data=[]
  ret['data']=[]

  db = client.netflixData.data.find(fill)
  for x in db:
    res['title'] = x['title']
    res['type'] =x['type']
    res['description']=x['description']
    res['rating']=x['rating']      
    data.append(res)
    res=dict()
  ret['data']=data[page:page+20]
  return jsonify(ret)

@app.route('/get_data/doughnut')
def get_data_doughnut():
  # type
  da = dataClean.groupby(['type'])['title'].count()
  da = da.reset_index()

  kind = []
  kindCount = []
  for x in da['type']:
    kind.append(str(x))
  for y in da['title']:
    kindCount.append(int(y))

  typeOf = dict()
  typeOf['type'] = kind
  typeOf['typeCount'] = kindCount
  
  return jsonify({'data': kindCount})

@app.route('/get_data/bar')
def get_data_bar():
  # rating
  dr = dataClean.groupby(['rating'])['title'].count()
  dr = dr.reset_index()

  rate = []
  rateCount = []
  for x in dr['rating']:
    rate.append(x)
  for y in dr['title']:
    rateCount.append(int(y))

  rating = dict()
  rating['rating'] = rate
  rating['rateCount'] = rateCount

  return jsonify({'data': rateCount})

@app.route('/get_data/line')
def get_data_line():
  # year
  dy = dataClean.groupby(['release_year'])['title'].count()
  dy = dy.reset_index()

  year = []
  yearCount = []
  for x in dy['release_year']:
    year.append(str(x))
  for y in dy['title']:
    yearCount.append(int(y))

  release_year = dict()
  release_year['year'] = year
  release_year['yearCount'] = yearCount

  return jsonify({'data': yearCount[-22:]})

app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://ec03-34-125-213-123.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [09/Dec/2021 19:22:36] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:22:37] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
127.0.0.1 - - [09/Dec/2021 19:23:38] "GET /addFavour?title=Kota%20Factory HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:23:41] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:23:43] "GET /myFavour?page=20 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:23:46] "GET /deleteFavour?title=Kota%20Factory HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:23:46] "GET /myFavour?page=20 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:24:11] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:24:12] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:24:15] "GET /myFavour?page=20 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:24:18] "GET /deleteFavour?title=Jailbirds%20New%20Orleans HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:24:19] "GET /myFavour?page=20 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:24:21] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:24:23] "GET /deleteFavour?title=Dick%20Johnson%20Is%20Dead HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:24:24] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:24:27] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:24:28] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:25:15] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:25:16] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:25:53] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:25:53] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:25:56] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:00] "GET /addFavour?title=Midnight%20Mass HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:01] "GET /addFavour?title=Vendetta:%20Truth,%20Lies%20and%20The%20Mafia HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:03] "GET /addFavour?title=Confessions%20of%20an%20Invisible%20Girl HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:05] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:07] "GET /deleteFavour?title=Confessions%20of%20an%20Invisible%20Girl HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:08] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:18] "GET /deleteFavour?title=Europe%27s%20Most%20Dangerous%20Man:%20Otto%20Skorzeny%20in%20Spain HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:19] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:25] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:26] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:52] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:26:53] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:00] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:02] "GET /deleteFavour?title=Midnight%20Mass HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:02] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:09] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:15] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:16] "GET /addFavour?title=Kota%20Factory HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:18] "GET /addFavour?title=Jailbirds%20New%20Orleans HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:21] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:25] "GET /deleteFavour?title=Jailbirds%20New%20Orleans HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:25] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:37] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:39] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:40] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:45] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:49] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:52] "GET /deleteFavour?title=Kota%20Factory HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:52] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:55] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:56] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:27:56] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:03] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:05] "GET /addFavour?title=Ganglands HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:08] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:09] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:11] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:26] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:27] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:32] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:34] "GET /addFavour?title=Sankofa HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:37] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:38] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:40] "GET /deleteFavour?title=Sankofa HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:40] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:52] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:53] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:57] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:28:59] "GET /addFavour?title=Kota%20Factory HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:29:02] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:29:15] "GET /get_data/doughnut HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:29:15] "GET /get_data/bar HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:29:16] "GET /get_data/line HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:29:17] "GET /get_data/doughnut HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:29:17] "GET /get_data/line HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:29:18] "GET /get_data/bar HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:29:20] "GET /search?title=undefined&rating=undefined&type=undefined&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:29:25] "GET /search?title=undefined&rating=undefined&type=TV%20Show&page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:29:31] "GET /myFavour?page=0 HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2021 19:29:37] "GET /search?title=undefined&rating=undefined&type=TV%20Show&page=0 HTTP/1.1" 200 -

In [52]:
db = client.netflixData.data.find_one({'title':'#blackAF'})
client.favour.collection.insert_one(db)
db

{'_id': ObjectId('61b080b1cbf6014b7977e612'),
 'cast': 'Kenya Barris, Rashida Jones, Iman Benson, Genneya Walton, Scarlet Spencer, Justin Claiborne, Ravi Cabot-Conyers',
 'country': 'United States',
 'date_added': 'April 17, 2020',
 'description': 'Kenya Barris and his family navigate relationships, race and culture while grappling with their newfound success in this comedy series.',
 'director': nan,
 'duration': '1 Season',
 'listed_in': 'TV Comedies',
 'rating': 'TV-MA',
 'release_year': 2020,
 'show_id': 's2667',
 'title': '#blackAF',
 'type': 'TV Show'}

In [4]:
df = pd.DataFrame(client.netflixData.data.find({}))
df = df.drop(columns=['_id'])
df['month_added'] = df['date_added'].apply(lambda x: str(x).split(' ')[0])
df['day_added'] = df['date_added'].apply(lambda x: str(x).split(',')[0].split(' ')[-1])
df['year_added'] =  df['date_added'].apply(lambda x: str(x).split(' ')[-1])

dataClean = df.drop(['show_id','cast','description','listed_in'], axis = 1).fillna('unknow')

dataClean

         type                  title  ... day_added year_added
0       Movie   Dick Johnson Is Dead  ...        25       2021
1     TV Show          Blood & Water  ...        24       2021
2     TV Show              Ganglands  ...        24       2021
3     TV Show  Jailbirds New Orleans  ...        24       2021
4     TV Show           Kota Factory  ...        24       2021
...       ...                    ...  ...       ...        ...
8802    Movie                 Zodiac  ...        20       2019
8803  TV Show            Zombie Dumb  ...         1       2019
8804    Movie             Zombieland  ...         1       2019
8805    Movie                   Zoom  ...        11       2020
8806    Movie                 Zubaan  ...         2       2019

[8807 rows x 11 columns]

In [79]:
# Type
da = dataClean.groupby(['type'])['title'].count()
da = da.reset_index()

kind = []
kindCount = []
for x in da['type']:
  kind.append(str(x))
for y in da['title']:
  kindCount.append(int(y))

typeOf = dict()
typeOf['type'] = kind
typeOf['typeCount'] = kindCount
typeOf

{'type': ['Movie', 'TV Show'], 'typeCount': [6131, 2676]}

In [70]:
# Year
dy = dataClean.groupby(['release_year'])['title'].count()
dy = dy.reset_index()

year = []
yearCount = []
for x in dy['release_year']:
  year.append(str(x))
for y in dy['title']:
  yearCount.append(int(y))

release_year = dict()
release_year['year'] = year
release_year['yearCount'] = yearCount
release_year

{'year': ['1925',
  '1942',
  '1943',
  '1944',
  '1945',
  '1946',
  '1947',
  '1954',
  '1955',
  '1956',
  '1958',
  '1959',
  '1960',
  '1961',
  '1962',
  '1963',
  '1964',
  '1965',
  '1966',
  '1967',
  '1968',
  '1969',
  '1970',
  '1971',
  '1972',
  '1973',
  '1974',
  '1975',
  '1976',
  '1977',
  '1978',
  '1979',
  '1980',
  '1981',
  '1982',
  '1983',
  '1984',
  '1985',
  '1986',
  '1987',
  '1988',
  '1989',
  '1990',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020',
  '2021'],
 'yearCount': [1,
  2,
  3,
  3,
  4,
  2,
  1,
  2,
  3,
  2,
  3,
  1,
  4,
  1,
  3,
  2,
  2,
  2,
  1,
  5,
  3,
  2,
  2,
  5,
  5,
  10,
  7,
  7,
  9,
  7,
  7,
  11,
  11,
  13,
  17,
  11,
  12,
  10,
  13,
  8,
  18,
  16,
  22,
  17,
  23,
  28,
  22,
  25,
  24,
  38,
  36,
  39,
  37,
  45,
  51,
  61,
  64,
  80,
  96,
  88,
  136,
  152,
  194,
  185,
  237,
  288,
  352,
  560,
  902,
  1032,
  1147,
  1030,
  953,
  592]}

In [67]:
# Rating
dr = dataClean.groupby(['rating'])['title'].count()
dr = dr.reset_index()

rate = []
rateCount = []
for x in dr['rating']:
  rate.append(x)
for y in dr['title']:
  rateCount.append(int(y))

rating = dict()
rating['rating'] = rate
rating['rateCount'] = rateCount
rating

{'rateCount': [1,
  1,
  1,
  41,
  3,
  80,
  287,
  490,
  799,
  2160,
  220,
  3207,
  863,
  307,
  334,
  6,
  3,
  4],
 'rating': ['66 min',
  '74 min',
  '84 min',
  'G',
  'NC-17',
  'NR',
  'PG',
  'PG-13',
  'R',
  'TV-14',
  'TV-G',
  'TV-MA',
  'TV-PG',
  'TV-Y',
  'TV-Y7',
  'TV-Y7-FV',
  'UR',
  'unknow']}

In [80]:
res = []
res.append(typeOf)
res.append(rating)
res.append(release_year)
ret = dict()
ret['data'] = res

ret

{'data': [{'type': ['Movie', 'TV Show'], 'typeCount': [6131, 2676]},
  {'rateCount': [1,
    1,
    1,
    41,
    3,
    80,
    287,
    490,
    799,
    2160,
    220,
    3207,
    863,
    307,
    334,
    6,
    3,
    4],
   'rating': ['66 min',
    '74 min',
    '84 min',
    'G',
    'NC-17',
    'NR',
    'PG',
    'PG-13',
    'R',
    'TV-14',
    'TV-G',
    'TV-MA',
    'TV-PG',
    'TV-Y',
    'TV-Y7',
    'TV-Y7-FV',
    'UR',
    'unknow']},
  {'year': ['1925',
    '1942',
    '1943',
    '1944',
    '1945',
    '1946',
    '1947',
    '1954',
    '1955',
    '1956',
    '1958',
    '1959',
    '1960',
    '1961',
    '1962',
    '1963',
    '1964',
    '1965',
    '1966',
    '1967',
    '1968',
    '1969',
    '1970',
    '1971',
    '1972',
    '1973',
    '1974',
    '1975',
    '1976',
    '1977',
    '1978',
    '1979',
    '1980',
    '1981',
    '1982',
    '1983',
    '1984',
    '1985',
    '1986',
    '1987',
    '1988',
    '1989',
    '1990',
    '1991',
    '1992',
    '1993',
    '1994',
    '1995',
    '1996',
    '1997',
    '1998',
    '1999',
    '2000',
    '2001',
    '2002',
    '2003',
    '2004',
    '2005',
    '2006',
    '2007',
    '2008',
    '2009',
    '2010',
    '2011',
    '2012',
    '2013',
    '2014',
    '2015',
    '2016',
    '2017',
    '2018',
    '2019',
    '2020',
    '2021'],
   'yearCount': [1,
    2,
    3,
    3,
    4,
    2,
    1,
    2,
    3,
    2,
    3,
    1,
    4,
    1,
    3,
    2,
    2,
    2,
    1,
    5,
    3,
    2,
    2,
    5,
    5,
    10,
    7,
    7,
    9,
    7,
    7,
    11,
    11,
    13,
    17,
    11,
    12,
    10,
    13,
    8,
    18,
    16,
    22,
    17,
    23,
    28,
    22,
    25,
    24,
    38,
    36,
    39,
    37,
    45,
    51,
    61,
    64,
    80,
    96,
    88,
    136,
    152,
    194,
    185,
    237,
    288,
    352,
    560,
    902,
    1032,
    1147,
    1030,
    953,
    592]}]}

In [89]:
data2 = {'data':[2,4,10,8]}

In [101]:
w=[]
q = ret['data'][0]
for i in q['type']:
  w.append(i)
w

['Movie', 'TV Show']

In [111]:
e = yearCount[-22:]
e

[37,
 45,
 51,
 61,
 64,
 80,
 96,
 88,
 136,
 152,
 194,
 185,
 237,
 288,
 352,
 560,
 902,
 1032,
 1147,
 1030,
 953,
 592]